body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#600080;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */

h1{
  font-family: 'VT323', monospace;
  font-size: 6em;
}
h2 {
  font-family: 'VT323', monospace;
  font-size: 4em;
}
h3 {
  font-family: 'VT323', monospace;
  font-size: 3em;
}
h4 {
  font-size: 2em;
}
p{
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: #600080;
}
.section{
  text-align: center;
}

/* Menu
 * --------------------------------------- */
.nav li {
  display: inline;
}

#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255,);
  border: 2px solid black;
}
#menu li.active{
  background:#009688;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
}

.spacer {
  padding-top: 250px;
}

.spacer2 {
  padding-top: 200px;
}

.small {
  height: 200px;
  width: 350px;
}

.small2 {
  font-size: 20px;
}

.right {
  float: right;
}
.left {
  float: left;
}
div {
  box-sizing: border-box;
}
body {
  background: #9124F2;
  font-family: 'VT323', monospace;
}
.os-screen {
  margin: 10% auto;
  width: 600px;
  background: white;
  border: 2px solid black;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.os-screen .top-bar {
  border-bottom: 2px solid black;
  padding: 3px;
}
.os-screen .top-bar:before,
.os-screen .top-bar:after {
  content: " ";
  display: table;
}
.os-screen .top-bar:after {
  clear: both;
}
.os-screen .top-bar .square {
  border: 2px solid black;
  width: 20px;
  height: 20px;
}
.os-screen .top-bar .square.left {
  margin-right: 3px;
}
.os-screen .top-bar .square.right {
  margin-left: 3px;
}
.os-screen .top-bar .title-bar {
  width: 544px;
  float: left;
  position: relative;
}
.os-screen .top-bar .title-bar .title {
  position: absolute;
  background: white;
  left: 0;
  width: 100px;
  padding: 3px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}
.os-screen .top-bar .title-bar .lines {
  background: black;
  height: 2px;
  margin-top: 2px;
}
.os-screen .top-bar .title-bar .lines:first-child {
  margin-top: 1px;
}
.os-screen .contents {
  padding: 9px;
  line-height: 1.4;
}
.os-screen .contents:before,
.os-screen .contents:after {
  content: " ";
  display: table;
}
.os-screen .contents:after {
  clear: both;
}
button {
  border: 2px solid black;
  background: transparent;
  display: block;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'VT323', monospace;
}

.crop {
  width: 100%; 
}

.wave {
  position: absolute;
  left:0;
  right:0;
  top:250px;
  bottom:0;
  z-index: 1;
}

.wave + .wave {
  z-index: 2;
}
