body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;

}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#990000;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
  color: #604020;
}
h1{
  font-family: 'Shrikhand', cursive;
  font-size: 6em;
}
h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 4em;
}
h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 3em;
}
h4 {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

span {
  font-size: 18px;
}

.card-content ul {
  font-size: 25px;
}

.section{
  text-align: center;
}

/* Menu
 * --------------------------------------- */
.nav li {
  display: inline;
}

#menu li {
  display:inline-block;
  margin: 10px;
  color:#990000;
  background:#fff;
  background: rgba(255,255,255);
  font-family: 'Shrikhand', cursive;
}
#menu li.active{
  background: #f57c00;
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color:#990000;
}
#menu li.active a:hover{
  color: #990000;
}
#menu li:hover{
  background: rgba(255,255,255);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
}

  #myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
      background-image: /* our video */;
      background-position: center center;
      background-size: contain;
      object-fit: cover; /*cover video background */
      z-index:3;
  }



  /* Layer with position absolute in order to have it over the video
  * --------------------------------------- */
  #section4 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;

    /* 
    * Preventing flicker on some browsers 
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  #section{
    overflow: hidden;
  }

video::-webkit-media-controls {
    display:none !important;
  }

.spacer1 {
  padding-top: 300px;
}

.spacer2 {
  padding-top: 150px;
}

.spacer3 {
  padding-top: 400px;
}

.small {
  height: 50px;
  width: 50px;
}


.small2 {
  font-size: 20px;
}

#section3, #section5 {
  background-color: #ffff80;
}

  .section{
    
  }

.gif {
  height: 345px;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #FFE0AF;
  background-image:
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88), 
  linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
  linear-gradient(45deg, transparent, transparent 50%, #FFC87F 50%, #FFC87F);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px, 50px 0px;
  -webkit-animation: scroll 5s linear infinite;
}

@-webkit-keyframes scroll {
  from { background-position: 0 0, 50px 50px, 50px 0; }
  to { background-position: -100px -100px, -50px -50px, -50px -100px; }
}
